*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255,255,180);
}

a{ 
    color:#FFF;
    text-decoration: none;
    background: #DB7093;
}
a:hover{
    text-decoration: underline;
    background: #fabc57;
}

.portada{
    background-image: linear-gradient(120deg, rgba(101, 128, 246, 0) 0%, #fd9f8500 100%), url(https://i.pinimg.com/originals/cc/34/a3/cc34a35bf451103ca27795ea9caf955f.png); /*aca agrega tu imagen de acuerdo a como se llama*/
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}

.titulo{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.titulo h1{
    margin-top: -80px;
    font-weight: 700;
}

.titulo p{
    margin-bottom: 10px;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
    margin:auto;
    
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    background: white;
    box-shadow: 0 0 16px rgba(230, 221, 221, 0.1);
    border-radius: 1px;
    padding: 24px;
    margin: 8px;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 28px rgba(230,221,221,0.1);
    transform: translateY(-3%);
}

.card a {
    margin: 5px;
}
.card>img{
    width: 320px;
    height: 210px;
    border-radius: 2px; 
  
}

footer{
    align-self: flex-end;
    background-color: rgba(133, 193, 233,1);
    line-height: 3;
    text-align: center;
    width: 100%;
}
